#TitleContainer {
    position:absolute; 
    left:20%; 
    top:15%;
}

#title {
    font-size:50px;
    font-family: 'Marker Felt'
}

#BonusText {
  position:absolute;
  font-size:25px;
  font-family: 'Marker Felt';
  top:25%;
  left:35%
}

#VersionCount {
  position:absolute; 
  top:95%;
  font-size:20px;
  font-family: 'Marker Felt'
}
/* I copied all this code too*/
.MessageContainer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
.Message {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .MessageText {
    font-size:20px;
    font-family: 'Marker Felt'
}

.MessageHeader {
    font-size:35px;
    font-family: 'Marker Felt'
}
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 45px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #start-button {
    position:absolute; 
    left:45%; 
    top:50%;
    width:120px;
    height:30px;
    font-family: 'Marker Felt';
    font-size: 20px;
  }

#ArmorChomperRight {
    position:absolute; 
    width:auto;
    height:500px;
    left:75%; 
    top:25%;
}

#ArmorChomperLeft {
    position:absolute; 
    width:auto;
    height:500px;
    left:6%; 
    top:25%;
}

.MenuButton {
  width:175px;
  height:60px;
  font-family: 'Marker Felt';
  font-size: 35px;
}
